.App {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.Header {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #FFE81F;
  font-size: 5rem;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */

.character-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.info-wrapper {
  /* display */
}